@charset "utf-8";

// Colors
$blue: #0a84ff;
$green: #30d158;
$orange: #ff9f0a;
$red: #ff516e;
$grey-darker: #99aec4;
$grey-lighter: #c5cfda;
$white: #FFFFFF;


// update global variables
$family-sans-serif: "Futura PT",
sans-serif;
$primary: $blue;
$navbar-item-img-max-height: 3.5rem;
$navbar-item-hover-background-color: $white;
$radius: 8px;
$radius-small: 8px;
$radius-large: 16px;
$input-placeholder-color: $grey-lighter;
$panel-heading-background-color: $white;
$box-padding: 1.75rem;
$footer-background-color: $blue;
$footer-color: $white;

.group-feed {
    min-height: calc(100vh - 100px);
}

@import "../../node_modules/bulma/bulma.sass";